<form class="scrollable">

    <div class="form-container" style="width: 50%; margin-left: 25%;">

        <div style="text-align: justify;"> 
            <h1 style="float: left;">Crear Cuenta</h1> 
            <!--
            <div style="float: right;">
                <br>
                o <a href="/signUpGoogle"> Crear cuenta desde Goole</a>
            </div> 
        -->
        </div>

        <mat-form-field>
            <input matInput id="name" placeholder="Nombre" [formControl]="name_control" required>
            <mat-error *ngIf="name_control.invalid">{{getErrorMessage("name")}}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput id="age" type="number" [formControl]="age_control" placeholder="Edad" required>
            <mat-error *ngIf="age_control.invalid">{{getErrorMessage("age")}}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput id="city" placeholder="Ciudad" [formControl]="city_control" required>
            <mat-error *ngIf="city_control.invalid">{{getErrorMessage("city")}}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput id="country" placeholder="País" [formControl]="country_control" required>
            <mat-error *ngIf="country_control.invalid">{{getErrorMessage("country")}}</mat-error> 
        </mat-form-field>

        <mat-form-field>
            <input matInput id="address" placeholder="Dirección" [formControl]="address_control" required>
            <mat-error *ngIf="address_control.invalid">{{getErrorMessage("address")}}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput id="email" placeholder="Correo Electrónico" type="email" [formControl]="email_control" required>
            <mat-error *ngIf="email_control.invalid">{{getErrorMessage("email")}}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Género</mat-label>
            <mat-select [formControl]="gender_control" [(value)]=gender required>
                <mat-option>--Seleccione una opción--</mat-option>
                <mat-option *ngFor="let gender of genderOptions" [value]="gender">
                    {{ gender }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="gender_control.invalid">{{getErrorMessage("gender")}}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput id="username" placeholder="Usuario" [formControl]="user_control" required>
            <mat-error *ngIf="user_control">{{getErrorMessage("user")}}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput id="password" placeholder="Contraseña" type="password" [formControl]="psw_control" required>
            <mat-error *ngIf="psw_control.invalid">{{getErrorMessage("password")}}</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" style="width: min-content;" (click)="createUser();">Crear Cuenta</button>

    </div>

</form>
