<h1 style="text-align: center;">Cute Zoo</h1>
<p style="text-align: center;">Cute Zoo es una iniciativa por parte de VaSo Inc. que pretende enviar un mensaje a la comunidad para que aprecie 
  la belleza de los animales <br>y así sea motivada a cuidar el medio ambiente. Como dice nuestro director ejecutivo Juan Carlos Montoya: <br>"Los humanos somos temporales pero los animales tiernos son para siempre" </p>

<div style="margin-bottom:25px">

  <div style="display:block;"
       [style.width]="width">
    <slideshow #slideshow
               [imageUrls]="imageUrls"
               [height]="height"
               [minHeight]="minHeight"
               [arrowSize]="arrowSize"
               [showArrows]="showArrows"
               [disableSwiping]="disableSwiping"
               [autoPlay]="autoPlay"
               [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
               [debug]="debug"
               [backgroundSize]="backgroundSize"
               [backgroundPosition]="backgroundPosition"
               [backgroundRepeat]="backgroundRepeat"
               [showDots]="showDots"
               [dotColor]="dotColor"
               [showCaptions]="showCaptions"
               [captionColor]="captionColor"
               [captionBackground]="captionBackground"
               [lazyLoad]="lazyLoad"
               [hideOnNoSlides]="hideOnNoSlides">
    </slideshow>
  </div>
</div>