<h1 style="text-align: center;">Cute Zoo</h1>
<p style="text-align: center;">Descripcion....</p>

<div class="row scrollable">
    <div class="column">
      <img src="../../assets/pictures/10.jpg">
      <img src="../../assets/pictures/40.jpg">
      <img src="../../assets/pictures/25.jpg">
      <img src="../../assets/pictures/4.jpg">
      <img src="../../assets/pictures/1.jpg">
      <img src="../../assets/pictures/8.jpg">
      <img src="../../assets/pictures/22.jpg">
    </div>
    <div class="column">
      <img src="../../assets/pictures/32.jpg">
      <img src="../../assets/pictures/48.jpg">
      <img src="../../assets/pictures/27.jpg">
      <img src="../../assets/pictures/29.jpg">
      <img src="../../assets/pictures/16.jpg">
      <img src="../../assets/pictures/11.jpg">
    </div>
    <div class="column">
      <img src="../../assets/pictures/4.jpg">
      <img src="../../assets/pictures/19.jpg">
      <img src="../../assets/pictures/21.jpg">
      <img src="../../assets/pictures/34.jpg">
      <img src="../../assets/pictures/49.jpg">
      <img src="../../assets/pictures/50.jpg">
      <img src="../../assets/pictures/31.jpg">
    </div>
    <div class="column">
        <img src="../../assets/pictures/29.jpg">
        <img src="../../assets/pictures/14.jpg">
        <img src="../../assets/pictures/5.jpg">
        <img src="../../assets/pictures/20.jpg">
        <img src="../../assets/pictures/38.jpg">
      <img src="../../assets/pictures/42.jpg">
    </div>
  </div>