<form class="scrollable">
    <div class="form-container" style="width: 30%; float: right; margin-right: 10%; margin-top: 5%;">
        <div style="text-align: justify;"> 
            <h3 style="float: left;">Iniciar Sesión</h3> 
            <div style="float: right;">
                <br>
                o <a href="/signUp"> crear una cuenta</a>
            </div> 
        </div>
<!--
        <button mat-raised-button style="background-color: #DD4B39; color: white;" (click)="signInWithGoogle()">Iniciar Sesión con Google</button>
-->
        <br>

        <mat-form-field>
            <input matInput id="username" placeholder="Nombre de Usuario" [formControl]="user_control" required>
            <mat-error *ngIf="user_control.invalid">{{getErrorMessage("username")}}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="password" id="password" placeholder="Contraseña" [formControl]="psw_control" required>
            <mat-error *ngIf="psw_control.invalid">{{getErrorMessage("password")}}</mat-error>
        </mat-form-field>

        <br>
        <button mat-raised-button color="primary" style="width: min-content;" (click)="signIn()">Iniciar Sesión</button>


    </div>
</form>