<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <h1 class="title">Haga click en el animal que desea ver</h1>
    <div class="gallery">
        <div class="card">
            <img src="../../assets/pictures/1.jpg">
            <h4>Max</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <a href="../comment/comment.component.html">Comentar</a>
        </div>
        <div class="card">
            <img src="../../assets/pictures/2.jpg">
            <h4>Dog</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <a href="#">Comentar</a>
        </div>
        <div class="card">
            <img src="../../assets/pictures/3.jpg">
            <h4>Fox</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <a href="#">Comentar</a>
        </div>
        <div class="card">
            <img src="../../assets/pictures/4.jpg">
            <h4>Bambi</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <a href="#">Comentar</a>
        </div>
        <div class="card">
            <img src="../../assets/pictures/5.jpg">
            <h4>Elephant</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <a href="#">Comentar</a>
        </div>
    </div>


</body>

</html>